.previous {
  float: left;
  padding-left: 5px;
}

.next {
  float: right;
  padding-right: 5px;
}

.selector {
  text-align: center;
  font-weight:bold;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
}

thead {
  font-weight:bold;
}

.selected-day {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #db3d44;
  color: white;
}

.today {
  color: #db3d44;
}

.prev-month {
  color: #eeeeee;
}

.next-month {
  color: #eeeeee;
}

.zero-padding {
  padding-left: 0 !important;
}