<div ng-controller="monthCtrl">
    <div class="selector">
        <span ng-click="changeView('year')">{{currentYear}}</span>
        <a ng-click="prevYear()" href="#" class="previous">&#8249;</a>
        <a ng-click="nextYear()" href="#" class="next">&#8250;</a>
    </div>
    <table class="month">
        <tbody>   
            <tr ng-repeat="month_row in months">
                <td ng-repeat="month in month_row"
                    ng-class="getClass(month)"
                    ng-click="selectMonth(month)">{{getMonthName(month.num)}}</td>
            </tr>
        </tbody>
    </table>
</div>