<div ng-controller="weekCtrl">
    <div class="selector">
      <span ng-click="changeView('month')">{{getMonthName(currentMonth)}} {{currentYear}}</span>
        <a ng-click="prevMonth()" href="#" class="previous">&#8249;</a>
        <a ng-click="nextMonth()" href="#" class="next">&#8250;</a>
    </div>
    <table class="week">
    <thead>
      <tr>
        <td>Su</td>
        <td>Mo</td>
        <td>Tu</td>
        <td>We</td>
        <td>Th</td>
        <td>Fr</td>
        <td>Sa</td>
      </tr>
    </thead>
    <tbody>   
      <tr ng-repeat="week in weeks">
        <td ng-repeat="day in week" 
          ng-class="getClass(day)"
          ng-click="selectDay(day)">{{day.date}}
        </td>
      </tr>
    </tbody>
  </table>
</div>